<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="{% static 'bootstrap/bootstrap.css' %}" rel="stylesheet" crossorigin="anonymous">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'single_page/pretendard.css' %}">
    <link href="{% static 'bootstrap/custom.css' %}" rel="stylesheet">

    <!-- Popper.js (for Bootstrap dropdowns) -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" crossorigin="anonymous"></script>

    <!-- External Scripts -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

    <!-- Title -->
    <title>base</title>

    {% block extra-style %}{% endblock %}

    <style>
        .container-fluid {
            min-height: 70vh;
        }
    </style>
</head>
<body style="overflow-x: hidden">
    {% include 'single_page/navbar.html' %}
    <div class="w-auto p-3" style="background-color: #F5F6F8;">
        <div class="container-fluid">
            <div class="row">
                <div class="my-5">
                {% block main_area %}
                {% endblock %}
                </div>
            </div>
        </div>
    </div>
    {% include 'single_page/footer.html' %}

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/bootstrap.js' %}" crossorigin="anonymous"></script>

    <!-- Additional JS Libraries -->
    <script src="https://kit.fontawesome.com/c998a172fe.js"></script>
</body>
</html>
